<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoMarket</title>
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/animations.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <main>
    <header class="header">
        <div>
            <nav class="navbar">
                <img class="logo" src="../img/logo-eco-market-100x100.png">
                    <ul>
                        <a href="../index.html" class="boton_inicio">Home</a>
                        <a href="../views/ofertas.html" class="boton_inicio">Ofertas</a>
                        <a href="../views/productos.html" class="boton_inicio">Productos</a>
                        <a href="../views/Categorias.html" class="boton_inicio">Categorias</a>
                        <a href="../views/contacto.html" class="boton_inicio">Contacto</a>
                        <a href="../views/comentarios.html" class="boton_inicio">Comentario</a>
                        <a href="../views/calculadora.html" class="boton_inicio">calculadora</a>
                    </ul>
                    <input class="boton_busqueda" type="search" placeholder="Buscador ">
            </nav>
        </div>
    </header>
        <section class="entrada-izquierda">
            <div class="contenedor-productos-fila">       
                <div class="tarjeta-oferta">
                    <span class="etiqueta-descuento">30% OFF</span>

                    <div class="imagen-producto">
                        <img src="../img/productos/lavandaweb.jpg" alt="Aceites esenciales de lavanda">
                    </div>

                    <div class="info-producto">
                        <h3>Aceites esenciales de lavanda 10ml</h3>
                        <p class="precio-anterior">Antes por <del>$ 34,000</del></p>
                        <p class="precio-actual"><strong>$ 23,800</strong></p>
                    </div>
                </div>
                <div class="tarjeta-oferta">
                    <span class="etiqueta-descuento">30% OFF</span>

                    <div class="imagen-producto">
                        <img src="../img/productos/aceite-coco-titote.jpg" alt="Aceite de coco prensado">
                    </div>

                    <div class="info-producto">
                        <h3>Aceite de coco prensado 200ml</h3>
                        <p class="precio-anterior">Antes por <del>$ 18,200</del></p>
                        <p class="precio-actual"><strong>$ 12,740</strong></p>
                    </div>
                </div>
        </section>
    </main>   
    <footer id="abajo-pagina" class="abajo-pagina" >
    <div class="contenedor-footer">
        <h3 class="centrar-texto">NUESTRAS REDES SOCIALES</h3>
        <p class="centrar-texto">Conose mas de nosotros en nuestras redes sociales</p>
    
        <div class="redes-sociales">
            <a class="alinear_al_centro" href="https://www.facebook.com/ecomarketsaludable" target="_blank" rel="noopener">
                <img src="../img/logofb-removebg-preview.png" alt=""></a>
            <a class="alinear_al_centro" href="https://www.instagram.com/ecomarketsaludable/" target="_blank" rel="noopener">
                <img src="../img/il_fullxfull.5312137777_qj67-removebg-preview.png" alt=""></a>
            <a class="alinear_al_centro" href="https://www.tiktok.com/@ecomarket.official" target="_blank" rel="noopener">
                <img src="../img/logotiktok-removebg-preview.png" alt=""></a>
        </div>
    </div>
    </footer>

</html>