<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoMarket</title>
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/animations.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <main>
    <header class="header">
        <div>
            <nav class="navbar">
                <img class="logo" src="../img/logo-eco-market-100x100.png">
                    <ul>
                        <a href="../index.html" class="boton_inicio">Home</a>
                        <a href="../views/ofertas.html" class="boton_inicio">Ofertas</a>
                        <a href="../views/productos.html" class="boton_inicio">Productos</a>
                        <a href="../views/Categorias.html" class="boton_inicio">Categorias</a>
                        <a href="../views/contacto.html" class="boton_inicio">Contacto</a>
                        <a href="../views/comentarios.html" class="boton_inicio">Comentario</a>
                        <a href="../views/calculadora.html" class="boton_inicio">calculadora</a>
                    </ul>
                    <input class="boton_busqueda" type="search" placeholder="Buscador ">
            </nav>
        </div>
    </header>
    <section class="formulario entrada-izquierda">
            <h2 class="centrar-for">Calculadora De Carbono</h2>
            <div class="calculadora-contenedor letra">
               
                    <div class="separar">    
                        <h2>Hogar🏠</h2>
                        <p class="sectiones">
                            <label for="nombre">Consumo de energía mensual (kWh):</label><br></blockquote>
                            <input  class="range letrap" type="range" id="energia"><br>0 100 200 300 400 500 600 800
                        </p>
                    </div>
                    <div class="separar">
                        <h2>Transporte 🚗 </h2>  
                        <p>¿cual es su medio de transporte principal?</p>  
                        <div class="radio-group ">
                            <input type="radio" id="opcion1" name="suscripcion" value="1" checked>
                            <label  for="opcion1">Automóvil Familiar</label>
                        
                            <input type="radio" id="opcion2" name="suscripcion" value="2">
                            <label for="opcion2">Motocicleta</label>
                        
                            <input type="radio" id="opcion3" name="suscripcion" value="3">
                            <label for="opcion3">Autobús / Metro</label>
                            <input type="radio" id="opcion4" name="suscripcion" value="4">
                            <label for="opcion4">Bicicleta / Caminar</label>
                        </div><br>
                        <div class="campo">
                            <label for="km">Kilómetros recorridos al mes:</label>
                            <input type="number" id="km" placeholder="Ej. 300">
                        </div>

                    </div>
                        
                
            
                <input type="checkbox" id="activar-calculo">
                <label for="activar-calculo" class="boton-calcular">Calcular Impacto Total</label>
            
                <div class="seccion-resultado">
                    <h3>📊 Resultado Estimado</h3>
                        <p>Basado en tus datos, tu huella de carbono promedio es de:</p>
                        <p class="resultado-numero">
                            215 kg de CO2 al mes
                        </p>
                    </div>
        </div>
                </form>
            </div>
    </section>
    </header>
    </main>
   
        <footer id="abajo-pagina" class="abajo-pagina" >
            <div class="contenedor-footer">
                <h3 class="centrar-texto">NUESTRAS REDES SOCIALES</h3>
                <p class="centrar-texto">Conose mas de nosotros en nuestras redes sociales</p>
            
                <div class="redes-sociales">
                    <a class="alinear_al_centro" href="https://www.facebook.com/ecomarketsaludable" target="_blank" rel="noopener">
                        <img src="../img/logofb-removebg-preview.png" alt=""></a>
                    <a class="alinear_al_centro" href="https://www.instagram.com/ecomarketsaludable/" target="_blank" rel="noopener">
                        <img src="../img/il_fullxfull.5312137777_qj67-removebg-preview.png" alt=""></a>
                    <a class="alinear_al_centro" href="https://www.tiktok.com/@ecomarket.official" target="_blank" rel="noopener">
                        <img src="../img/logotiktok-removebg-preview.png" alt=""></a>
                </div>
            </div>
        </footer>
</body>
</html>