<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoMarket</title>
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/animations.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <main>
    <header class="header">
        <div>
            <nav class="navbar">
                <img class="logo" src="../img/logo-eco-market-100x100.png">
                    <ul>
                        <a href="../index.html" class="boton_inicio">Home</a>
                        <a href="../views/ofertas.html" class="boton_inicio">Ofertas</a>
                        <a href="../views/productos.html" class="boton_inicio">Productos</a>
                        <a href="../views/Categorias.html" class="boton_inicio">Categorias</a>
                        <a href="../views/contacto.html" class="boton_inicio">Contacto</a>
                        <a href="../views/comentarios.html" class="boton_inicio">Comentario</a>
                    </ul>
                    <input class="boton_busqueda" type="search" placeholder="Buscador ">
            </nav>
        </div>
    </header>
        <h2 class="centrar-for">CATEGORIAS</h2>
        <section class="entrada-izquierda">
            <div class="contenedor-productos-fila">       
                <div class="tarjeta-oferta">
                    <div>
                        <a href="../views/limpieza.html"><img class="imagen-producto" src="../img/productos/Jabón-natural-Terragua-AGUAMARINA.jpg" alt="Jabon"></a>
                    </div>

                    <div class="info-producto">
                        <h3 class="titulo-prod">Limpieza</h3>
                    </div>
                </div>
                <div class="tarjeta-oferta">
                    <div>
                        <a href="../views/harinas.html"><img class="imagen-producto" src="../img/productos/harina-almendra.jpg" alt="Harina"></a>
                    </div>

                    <div class="info-producto">
                        <h3 class="titulo-prod">Harinas</h3>
                    </div>
                </div>
                <div class="tarjeta-oferta">
                    <div>
                        <a href="../views/endulzantes.html"><img class="imagen-producto" src="../img/productos/miel-natural.jpg" alt="Miel"></a>
                    </div>

                    <div class="info-producto">
                        <h3>Endulzantes</h3>
                    </div>
                </div>
            </div>
        </section>
        <section class="entrada-izquierda">
            <div class="contenedor-productos-fila">       
                <div class="tarjeta-oferta">
                    <div>
                        <a href="../views/frutos_secos.html"><img class="imagen-producto" src="../img/productos/Pera-1.jpg" alt="Pera"></a>
                    </div>

                    <div class="info-producto">
                        <h3>Frutos Secos</h3>
                    </div>
                </div>
                <div class="tarjeta-oferta">
                    <div>
                        <a href="../views/cereales.html"><img class="imagen-producto" src="../img/productos/granola-alegra-almendra.jpg" alt="Cereales"></a>
                    </div>

                    <div class="info-producto">
                        <h3>Cereales</h3>
                    </div>
                </div>
                <div class="tarjeta-oferta">
                    <div>
                        <a href="../views/cuidado_personal.html"><img class="imagen-producto" src="../img/productos/crema-dental-gaia.jpg" alt="Crema dental"></a>
                    </div>

                    <div class="info-producto">
                        <h3 >Cuidado Personal</h3>
                    </div>
                </div>
            </div>
        </section>
        <section class="entrada-izquierda">
            <div class="contenedor-productos-fila">       
                <div class="tarjeta-oferta">
                    <div>
                        <a href="../views/aceites.html"><img class="imagen-producto" src="../img/productos/aceite-coco-titote.jpg" alt="aceites"></a>
                    </div>

                    <div class="info-producto">
                        <h3>Aceites</h3>
                    </div>
                </div>
                <div class="tarjeta-oferta">
                    <div>
                        <a href="../views/nueces_semillas.html"><img class="imagen-producto" src="../img/productos/crema-almendra-nutti-1.jpg" alt="nueces_semillas"></a>
                    </div>

                    <div class="info-producto">
                        <h3>Nueces y Semillas</h3>
                    </div>
                </div>
                <div class="tarjeta-oferta">
                    <div>
                        <a href="../views/condimentos.html"><img class="imagen-producto" src="../img/productos/canela.jpg" alt="canela"></a>
                    </div>

                    <div class="info-producto">
                        <h3 >Condimentos</h3>
                    </div>
                </div>
            </div>
        </section>
        </main>
        <footer id="abajo-pagina" class="abajo-pagina" >
        <div class="contenedor-footer">
            <h3 class="centrar-texto">NUESTRAS REDES SOCIALES</h3>
            <p class="centrar-texto">Conose mas de nosotros en nuestras redes sociales</p>
        
            <div class="redes-sociales">
                <a class="alinear_al_centro" href="https://www.facebook.com/ecomarketsaludable" target="_blank" rel="noopener">
                    <img src="../img/logofb-removebg-preview.png" alt=""></a>
                <a class="alinear_al_centro" href="https://www.instagram.com/ecomarketsaludable/" target="_blank" rel="noopener">
                    <img src="../img/il_fullxfull.5312137777_qj67-removebg-preview.png" alt=""></a>
                <a class="alinear_al_centro" href="https://www.tiktok.com/@ecomarket.official" target="_blank" rel="noopener">
                    <img src="../img/logotiktok-removebg-preview.png" alt=""></a>
            </div>
        </div>
        </footer>

</html>