<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoMarket</title>
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/animations.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <main>
    <header class="header">
        <div>
            <nav class="navbar">
                <img class="logo" src="../img/logo-eco-market-100x100.png">
                    <ul>
                        <a href="../index.html" class="boton_inicio">Home</a>
                        <a href="../views/ofertas.html" class="boton_inicio">Ofertas</a>
                        <a href="../views/productos.html" class="boton_inicio">Productos</a>
                        <a href="../index.html#abajo-pagina" class="boton_inicio">Contacto</a>
                    </ul>
                    <input class="boton_busqueda" type="search" placeholder="Ej: frascos ">
            </nav>
        </div>
    </header>
        <section>
            <div class="contenedor-productos-fila">
                    
                <div class="tarjeta-oferta">
                    <span class="etiqueta-descuento">32% OFF</span>

                    <div class="imagen-producto">
                        <img src="../img/bondiola.jpg" alt="Pulpa de Bondiola">
                    </div>

                    <div class="info-producto">
                        <h3 class="titulo-producto">Pulpa de Bondiola Descongelado (Kg)</h3>
                        <p class="precio-anterior">Antes por kilo <del>$ 249</del></p>
                        <p class="precio-actual"><strong>$ 169</strong> x kg</p>
                    </div>
                </div>
        
                <div class="tarjeta-oferta">
                    <span class="etiqueta-descuento">30% OFF</span>

                    <div class="imagen-producto">
                        <img src="../img/pollo.jpg" alt="Muslo de Pollo">
                    </div>

                    <div class="info-producto">
                        <h3 class="titulo-producto">Muslo de Pollo 1/4 AVICOLAS DEL OESTE</h3>
                        <p class="precio-anterior">Antes por kilo <del>$ 369</del></p>
                        <p class="precio-actual"><strong>$ 259</strong> x kg</p>
                    </div>
                </div>
                <div class="tarjeta-oferta">
                    <span class="etiqueta-descuento">30% OFF</span>

                    <div class="imagen-producto">
                        <img src="../img/pollo.jpg" alt="Muslo de Pollo">
                    </div>

                    <div class="info-producto">
                        <h3 class="titulo-producto">Muslo de Pollo 1/4 AVICOLAS DEL OESTE</h3>
                        <p class="precio-anterior">Antes por kilo <del>$ 369</del></p>
                        <p class="precio-actual"><strong>$ 259</strong> x kg</p>
                    </div>
                </div>
                <div class="tarjeta-oferta">
                    <span class="etiqueta-descuento">30% OFF</span>

                    <div class="imagen-producto">
                        <img src="../img/pollo.jpg" alt="Muslo de Pollo">
                    </div>

                    <div class="info-producto">
                        <h3 class="titulo-producto">Muslo de Pollo 1/4 AVICOLAS DEL OESTE</h3>
                        <p class="precio-anterior">Antes por kilo <del>$ 369</del></p>
                        <p class="precio-actual"><strong>$ 259</strong> x kg</p>
                    </div>
                </div>
                <div class="tarjeta-oferta">
                    <span class="etiqueta-descuento">30% OFF</span>

                    <div class="imagen-producto">
                        <img src="../img/pollo.jpg" alt="Muslo de Pollo">
                    </div>

                    <div class="info-producto">
                        <h3 class="titulo-producto">Muslo de Pollo 1/4 AVICOLAS DEL OESTE</h3>
                        <p class="precio-anterior">Antes por kilo <del>$ 369</del></p>
                        <p class="precio-actual"><strong>$ 259</strong> x kg</p>
                    </div>
                </div>
                <div class="tarjeta-oferta">
                    <span class="etiqueta-descuento">30% OFF</span>

                    <div class="imagen-producto">
                        <img src="../img/pollo.jpg" alt="Muslo de Pollo">
                    </div>

                    <div class="info-producto">
                        <h3 class="titulo-producto">Muslo de Pollo 1/4 AVICOLAS DEL OESTE</h3>
                        <p class="precio-anterior">Antes por kilo <del>$ 369</del></p>
                        <p class="precio-actual"><strong>$ 259</strong> x kg</p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="contenedor-productos-fila">
                    
                <div class="tarjeta-oferta">
                    <span class="etiqueta-descuento">32% OFF</span>

                    <div class="imagen-producto">
                        <img src="../img/bondiola.jpg" alt="Pulpa de Bondiola">
                    </div>

                    <div class="info-producto">
                        <h3 class="titulo-producto">Pulpa de Bondiola Descongelado (Kg)</h3>
                        <p class="precio-anterior">Antes por kilo <del>$ 249</del></p>
                        <p class="precio-actual"><strong>$ 169</strong> x kg</p>
                    </div>
                </div>
        
                <div class="tarjeta-oferta">
                    <span class="etiqueta-descuento">30% OFF</span>

                    <div class="imagen-producto">
                        <img src="../img/pollo.jpg" alt="Muslo de Pollo">
                    </div>

                    <div class="info-producto">
                        <h3 class="titulo-producto">Muslo de Pollo 1/4 AVICOLAS DEL OESTE</h3>
                        <p class="precio-anterior">Antes por kilo <del>$ 369</del></p>
                        <p class="precio-actual"><strong>$ 259</strong> x kg</p>
                    </div>
                </div>
                <div class="tarjeta-oferta">
                    <span class="etiqueta-descuento">30% OFF</span>

                    <div class="imagen-producto">
                        <img src="../img/pollo.jpg" alt="Muslo de Pollo">
                    </div>

                    <div class="info-producto">
                        <h3 class="titulo-producto">Muslo de Pollo 1/4 AVICOLAS DEL OESTE</h3>
                        <p class="precio-anterior">Antes por kilo <del>$ 369</del></p>
                        <p class="precio-actual"><strong>$ 259</strong> x kg</p>
                    </div>
                </div>
                <div class="tarjeta-oferta">
                    <span class="etiqueta-descuento">30% OFF</span>

                    <div class="imagen-producto">
                        <img src="../img/pollo.jpg" alt="Muslo de Pollo">
                    </div>

                    <div class="info-producto">
                        <h3 class="titulo-producto">Muslo de Pollo 1/4 AVICOLAS DEL OESTE</h3>
                        <p class="precio-anterior">Antes por kilo <del>$ 369</del></p>
                        <p class="precio-actual"><strong>$ 259</strong> x kg</p>
                    </div>
                </div>
                <div class="tarjeta-oferta">
                    <span class="etiqueta-descuento">30% OFF</span>

                    <div class="imagen-producto">
                        <img src="../img/pollo.jpg" alt="Muslo de Pollo">
                    </div>

                    <div class="info-producto">
                        <h3 class="titulo-producto">Muslo de Pollo 1/4 AVICOLAS DEL OESTE</h3>
                        <p class="precio-anterior">Antes por kilo <del>$ 369</del></p>
                        <p class="precio-actual"><strong>$ 259</strong> x kg</p>
                    </div>
                </div>
                <div class="tarjeta-oferta">
                    <span class="etiqueta-descuento">30% OFF</span>

                    <div class="imagen-producto">
                        <img src="../img/pollo.jpg" alt="Muslo de Pollo">
                    </div>

                    <div class="info-producto">
                        <h3 class="titulo-producto">Muslo de Pollo 1/4 AVICOLAS DEL OESTE</h3>
                        <p class="precio-anterior">Antes por kilo <del>$ 369</del></p>
                        <p class="precio-actual"><strong>$ 259</strong> x kg</p>
                    </div>
                </div>
            </div>
        </section>
