<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoMarket</title>
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/animations.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <main>
    <header class="header">
        <div>
            <nav class="navbar">
                <img class="logo" src="../img/logo-eco-market-100x100.png">
                    <ul>
                        <a href="../index.html" class="boton_inicio">Home</a>
                        <a href="../views/ofertas.html" class="boton_inicio">Ofertas</a>
                        <a href="../views/productos.html" class="boton_inicio">Productos</a>
                        <a href="../index.html#abajo-pagina" class="boton_inicio">Contacto</a>
                        <a href="../views/comentarios.html" class="boton_inicio">Comentario</a>
                    </ul>
                    <input class="boton_busqueda" type="search" placeholder="Buscador ">
            </nav>
        </div>
    </header>
        <section>
            <div class="contenedor-productos-fila">
                <div class="tarjeta-oferta">
                    <span class="etiqueta-descuento">30% OFF</span>

                    <div class="imagen-producto">
                        <img src="../img/productos/Cafe-Arboleda-1.jpg" alt="Café Arboleda">
                    </div>

                    <div class="info-producto">
                        <h3 class="titulo-producto">Café Arboleda 500gr</h3>
                        <p class="precio-anterior">Antes por <del>$ 31,350</del></p>
                        <p class="precio-actual"><strong>$ 21,945</strong></p>
                    </div>
                </div>
                <div class="tarjeta-oferta">
                    <span class="etiqueta-descuento">30% OFF</span>

                    <div class="imagen-producto">
                        <img src="../img/productos/granola-alegra-almendra.jpg" alt="Granola Alegra Almendra">
                    </div>

                    <div class="info-producto">
                        <h3 class="titulo-producto">Granola Alegra Almendra 300gr</h3>
                        <p class="precio-anterior">Antes por <del>$ 24,000</del></p>
                        <p class="precio-actual"><strong>$ 16,800</strong></p>
                    </div>
                </div>
                <div class="tarjeta-oferta">
                    <span class="etiqueta-descuento">30% OFF</span>

                    <div class="imagen-producto">
                        <img src="../img/productos/Exp-quinoa.jpg" alt="Granola Alegra Almendra">
                    </div>

                    <div class="info-producto">
                        <h3 class="titulo-producto">Quinua pop natural 1000gr</h3>
                        <p class="precio-anterior">Antes por <del>$ 41,500</del></p>
                        <p class="precio-actual"><strong>$  29,050</strong></p>
                    </div>
                </div>
                <div class="tarjeta-oferta">
                    <span class="etiqueta-descuento">30% OFF</span>

                    <div class="imagen-producto">
                        <img src="../img/productos/pimienta-negra-pepa.jpg" alt="Pimienta Negra en Grano">
                    </div>

                    <div class="info-producto">
                        <h3 class="titulo-producto">Pimienta Negra en Grano 250gr</h3>
                        <p class="precio-anterior">Antes por <del>$ 9,400</del></p>
                        <p class="precio-actual"><strong>$ 6,580</strong></p>
                    </div>
                </div>
                <div class="tarjeta-oferta">
                    <span class="etiqueta-descuento">30% OFF</span>

                    <div class="imagen-producto">
                        <img src="../img/productos/canela.jpg" alt="Canela">
                    </div>

                    <div class="info-producto">
                        <h3 class="titulo-producto">Canela 125gr</h3>
                        <p class="precio-anterior">Antes por <del>$ 6,100</del></p>
                        <p class="precio-actual"><strong>$  4,270</strong></p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="contenedor-productos-fila">
                    
                <div class="tarjeta-oferta">
                    <span class="etiqueta-descuento">30% OFF</span>

                    <div class="imagen-producto">
                        <img src="../img/productos/aceite-coco-titote.jpg" alt="Aceite de coco prensado">
                    </div>

                    <div class="info-producto">
                        <h3 class="titulo-producto">Aceite de coco prensado 200ml</h3>
                        <p class="precio-anterior">Antes por <del>$ 18,200</del></p>
                        <p class="precio-actual"><strong>$ 12,740</strong></p>
                    </div>
                </div>
                <div class="tarjeta-oferta">
                    <span class="etiqueta-descuento">30% OFF</span>

                    <div class="imagen-producto">
                        <img src="../img/productos/Jabón-natural-Terragua-AGUAMARINA.jpg" alt="Jabón natural aguamarina">
                    </div>

                    <div class="info-producto">
                        <h3 class="titulo-producto">Jabón natural aguamarina 135gr</h3>
                        <p class="precio-anterior">Antes por <del>$  21,000</del></p>
                        <p class="precio-actual"><strong>$ 14,700</strong></p>
                    </div>
                </div>
                <div class="tarjeta-oferta">
                    <span class="etiqueta-descuento">30% OFF</span>

                    <div class="imagen-producto">
                        <img src="../img/productos/champu-oiris-avena-naranja.jpg" alt="Champú Oiris Avena Naranja">
                    </div>

                    <div class="info-producto">
                        <h3 class="titulo-producto">Champú Oiris Avena Naranja 40gr</h3>
                        <p class="precio-anterior">Antes por <del>$ 5,900</del></p>
                        <p class="precio-actual"><strong>$ 4,130</strong></p>
                    </div>
                </div>
                <div class="tarjeta-oferta">
                    <span class="etiqueta-descuento">30% OFF</span>

                    <div class="imagen-producto">
                        <img src="../img/productos/desodorante-oiris.jpg" alt="Desodorante sólido">
                    </div>

                    <div class="info-producto">
                        <h3 class="titulo-producto">Desodorante sólido</h3>
                        <p class="precio-anterior">Antes por <del>$ 7,900</del></p>
                        <p class="precio-actual"><strong>$ 5,530</strong></p>
                    </div>
                </div>
                <div class="tarjeta-oferta">
                    <span class="etiqueta-descuento">30% OFF</span>

                    <div class="imagen-producto">
                        <img src="../img/productos/lavandaweb.jpg" alt="Aceites esenciales de lavanda">
                    </div>

                    <div class="info-producto">
                        <h3 class="titulo-producto">Aceites esenciales de lavanda 10ml</h3>
                        <p class="precio-anterior">Antes por <del>$ 34,000</del></p>
                        <p class="precio-actual"><strong>$ 23,800</strong></p>
                    </div>
                </div>
            </div>
        </section>